<br>
<br>
<h1>Nueva bicicleta</h1>
<br>
<br>
<form action="biciletas/create" method="POST">
  <label for="id">ID</label>
  <input type="text" name="id" id="id">
  <label for="color"></label>
  <input type="text" name="color" id="color">
  <label for="modelo"></label>
  <input type="text" name="modelo" id="modelo">
  <br>
  <input type="submit" value="Ok">
</form>