extends ../layout

block content
  br
  a(href='/bicicletas/create') Nueva bicicleta
  br
  table.table
    thead
      tr
        th N°
        th Color
        th Modelo
        th Actualizar
        th Eliminar
    tbody
      each bici in bicis 
        tr
          td(escope='row')
            = bici.id
          td= bici.color
          td=bici.modelo    
          td
            a.btn.btn-warning(href='/bicicletas/update/'+bici.id) Actualizar
          td
            form.inline(method='post' action='/bicicletas/delete/'+bici.id)
              input(type="hidden", name="id" value=bici.id)
              input.btn.btn-danger(type="submit", value='Eliminar')
