extends ../layout

block content
  br
  a(href='/bicicletas') Volver
  br
  h1 Nueva bicicleta
  br
  br
  form(action='/bicicletas/update' method='POST')
    label(for='id') ID
    input#id(type='text' name='id' value=bici.id)
    label(for='color')
    input#color(type='text' name='color' value=bici.color)
    label(for='modelo')
    input#modelo(type='text' name='modelo' value=bici.modelo)
    br
    input(type='submit' value='Ok')
